Project_TOY_client/.vs
Project_TOY_client/Project_.fb882099
Project_TOY_client/x64/Debug
Project_TOY_client/Project_TOY_client.vcxproj.user
Project_TOY_server/.vs
Project_TOY_server/Project_TOY_server.vcxproj.user
Project_TOY_server/Project_.af463cae
Project_TOY_server/x64
﻿Project_TOY_server/Project_TOY_server.vcxproj.user
Project_TOY_server/x64
Project_TOY_server/Project_.af463cae
Project_TOY_server/.vs
Project_TOY_server/packages/Google.Protobuf.Tools.3.33.4/tools
Project_TOY_server/packages/Google.Protobuf.Tools.3.33.4
Project_TOY_server/Genproto.bat
Project_TOY_server/Protocol/Protocol.pb.cc
Project_TOY_server/Protocol/Protocol.pb.h
Project_TOY_server/Genproto.bat
Project_TOY_server/Protocol
DummyClient/.vs
DummyClient/obj
Project_TOY_client_c_sharp_unity/.vs


Project_TOY_client_c_sharp_unity/[Ll]ibrary/
Project_TOY_client_c_sharp_unity/[Tt]emp/
Project_TOY_client_c_sharp_unity/[Oo]bj/
Project_TOY_client_c_sharp_unity/[Bb]uild/
Project_TOY_client_c_sharp_unity/[Bb]uilds/
Project_TOY_client_c_sharp_unity/[Ll]ogs/
Project_TOY_client_c_sharp_unity/[Uu]ser[Ss]ettings/
Project_TOY_client_c_sharp_unity/[Mm]emoryCaptures/
Project_TOY_client_c_sharp_unity/[Rr]ecordings/
Project_TOY_client_c_sharp_unity/.utmp/

# 자동 생성되는 VS 프로젝트 파일들 (유니티 폴더 내)
Project_TOY_client_c_sharp_unity/*.csproj
Project_TOY_client_c_sharp_unity/*.sln
Project_TOY_client_c_sharp_unity/*.unityproj
Project_TOY_client_c_sharp_unity/*.suo
Project_TOY_client_c_sharp_unity/*.tmp
Project_TOY_client_c_sharp_unity/*.user
Project_TOY_client_c_sharp_unity/*.userprefs
Project_TOY_client_c_sharp_unity/*.pidb
Project_TOY_client_c_sharp_unity/*.booproj
Project_TOY_client_c_sharp_unity/*.svd
Project_TOY_client_c_sharp_unity/*.pdb
Project_TOY_client_c_sharp_unity/*.mdb
Project_TOY_client_c_sharp_unity/*.opendb
Project_TOY_client_c_sharp_unity/*.VC.db

# 빌드 결과물 및 패키지
Project_TOY_client_c_sharp_unity/*.apk
Project_TOY_client_c_sharp_unity/*.aab
Project_TOY_client_c_sharp_unity/*.unitypackage
Project_TOY_client_c_sharp_unity/*.app